<p style="color: green"><%= notice %></p>
<%= render @post %>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>
  <%= button_to "Destroy this post", @post, method: :delete %>
  <%= render partial: "comments/template", locals: {commentable: @post, new_comment: @comment} %>
  <div>
    <%= button_to "ðŸ‘ #{@post.get_upvotes.size}", like_post_path(@post), method: :put %>
    <%= button_to "ðŸ˜ž #{@post.get_downvotes.size}", dislike_post_path(@post), method: :put %>
  </div>
</div>
