<!DOCTYPE html>
<html>
  <head>
    <title>Myapp4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# start CSS %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <%# end CSS %>
    <%# for comments %>
    <script type="text/javascript">
      function showHide(id) {
         var obj = document.getElementById(id);
         if (obj.style.display == 'none')
             obj.style.display = 'block';
         else
             obj.style.display = 'none';
      }
    </script>
    <script src="/path/to/tinymce.min.js"></script>
    <script>
      tinymce.init({
        selector: '.tinymce',
        plugins: 'lists link image table code help wordcount'
      });
    </script>
    <%# end of comments func %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Venture People</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <li class="nav-item">
              <% if user_signed_in? %>
                <a class="nav-link" href="#"> Hello <%= current_user.email %></a>
              </li>
              <li class="nav-item">
                <div>
                  <% if user_signed_in? %>
                    <%= link_to "User information", edit_user_registration_path %>
                                  <li class="nav-item">

                    <%= button_to "Logout", destroy_user_session_path, method: :delete %>
                    </li>
                  <% else %>
                    <%= link_to "Login", user_session_path %>
                    <%= link_to "Create a account", "/users/sign_up" %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- 
    <div>
      <% if user_signed_in? %>
        <%= link_to "User information", edit_user_registration_path %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", user_session_path %>
        <%= link_to "Create a account", "/users/sign_up" %>
      <% end %>
    </div>
    <hr/>
    <%= alert %>
    <%= notice %>
    <h2 style="font-weight: bold">User information</h2>
    <% if user_signed_in? %>
      <div>
        Email : <%= current_user.email %><br/>
        Name : <%= current_user.name %><br/>
        User No. : <%= current_user.user_num %>
      </div>
    <% else %>
      You are not login
    <% end %>
    -->
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
